@import './base.css';

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.view {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    font-weight: normal;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        place-items: center;
    }

    .view {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}
